.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.description {
  margin-bottom: 16px;
}

.description span {
  display: inline-block;
}

.result-img {
  margin-top: 16px;
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: center;
}

.result-img-child {
  width: calc(50% - 4px);
}

.result-img-child + .result-img-child {
  margin-left: 8px;
}

.result-img-child img {
  width: 100%;
  border-radius: 4.75% / 3.5%;
}
